.button {
  display: inline-block;
  text-decoration: none;
  background: #e74c3c;
  color: white;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 6px;
  &:hover {
    background-color: #c0392b;
  }
}