{# index.twig #}

{% extends "layout/default.twig" %}
 
{% block page %}
    <div class="container">
		<div class="gr-12">
			<h1 class="hello-word--default">EXAMPLE</h1>
		</div>
		<div class="gr-6 gr-12@mobile">
			<p>Aequalis flamma aequalis silvas tegit inminet. Caesa persidaque. Fronde montes supplex dominari. Ora pugnabant iunctarum margine ad recens os! Pugnabant ripis instabilis facientes frigida vesper caelo litora? Nullo phoebe certis. Frigore aere unda coeptis terrarum porrexerat. Melioris formaeque amphitrite diversa spisso metusque nix.</p>
		</div>
		<div class="gr-6 gr-12@mobile">
			<p>Aequalis flamma aequalis silvas tegit inminet. Caesa persidaque. Fronde montes supplex dominari. Ora pugnabant iunctarum margine ad recens os! Pugnabant ripis instabilis facientes frigida vesper caelo litora? Nullo phoebe certis. Frigore aere unda coeptis terrarum porrexerat. Melioris formaeque amphitrite diversa spisso metusque nix.</p>
		</div>
		<div class="gr-12">
			<div id="example"></div>
		</div>
	</div>
	
	

{% endblock %}

